<html>
    <head>
        {% block head %}
        <title>Example User API - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iziModal.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/iziModal.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mb-0 h1" href="#">User API</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li id="navHome" class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if session['logged_in'] %}
                    <li id="navProfile" class="nav-item">
                        <a class="nav-link profileModal" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                        {% if session['is_admin'] %}
                            <li id="navAdminAddRole" class="nav-item">
                                <a class="nav-link add-role-modal" href="#">Add/Update Roles</a>
                            </li>
                        {% endif %}
                    <li id="navLogin" class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li id="navLogout" class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li id="navRegister" class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

            {% block content %}{% endblock %}
    </body>
</html>