{% extends "base.html" %}
{% block title %}{{ session['name'] }}{% endblock %}
{% block head %}
{{ super() }}
    {% if session['is_admin'] == true %}
        <script src="{{ url_for('static', filename='js/admin.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container">
        <div id="tableContainer">
            <h1>Users:</h1>
            <table id="userListTable" class="table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Id:</th>
                        <th scope="col">User Name:</th>
                        <th scope="col">User Email:</th>
                        <th scope="col">Last Login:</th>
                        <th scope="col">Role:</th>
                        {% if session['is_admin'] == true %}
                        <th scope="col">Edit User:</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for user in user_data['data'] %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td id="username">{{ user['username'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td>
                        {% if user['last_login'] is none %}
                            Never
                        {% else %}
                            {{ user['last_login'] }}
                        {% endif %}
                        </td>
                        <td>{{ user['role'] }}</td>
                    {% if session['is_admin'] == true %}
                        <td>
                            <button class="btn btn-outline-info update-roles-modal"
                                    data-username="{{ user['username'] }}"
                                    data-role="{{ user['role'] }}"
                                    role="button">
                                Edit User
                            </button>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if session['is_admin'] == true %}
        <div id="update-roles-modal"
             data-iziModal-fullscreen="false"
             data-iziModal-title="Update User Settings:"
             data-iziModal-icon="icon-home">
            <div class="updateRoleModalContent">
                <div id="roleUpdateStatus"></div>
                <input type="hidden" class="form-control" id="api_token" value="{{ session['api_token'] }}">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="userEmail" class="form-control" name="email" placeholder="email...">
                </div>
                <div class="form-group">
                    <label for="userRole">Role:</label>
                    <select class="form-control" name="userRole" id="userRole"></select>
                </div>
                <div id="updateRoleModalButtons">
                    <button id="updateRole" class="btn btn-outline-success">Update Role</button>
                    <button id="cancelRole" class="btn btn-outline-secondary">Close</button>
                </div>
            </div>
        </div>
        <div id="add-new-role-modal"
             data-iziModal-fullscreen="false"
             data-iziModal-title="Add/Update Roles:">
            <div class="updateRoleModalContent" id="roleList">
                <input type="hidden" name="api_token" id="api_token" value="{{ session['api_token'] }}">
                <table id="roleListTable" class="table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Can Read</th>
                            <th scope="col">Can Write</th>
                            <th scope="col">Can Update</th>
                            <th scope="col">Can Delete</th>
                            <th scope="col">Is Admin</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="roleTableBody"></tbody>
                </table>
                <div id="updateRoleModalButtons">
                    <button id="cancelAddRole" class="btn btn-outline-secondary">Close</button>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}