{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

{% if flash %}
    <div id="flash">
        <p>Incorrect Username / Password</p>
    </div>
{% endif %}

<div class="container">
    <div id="registrationContainer">
        <h1>Login:</h1>
        <form id="registrationForm" action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username...">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password...">
        </div>
        <button class="btn btn-outline-primary">Log In</button>
    </form>
    </div>
</div>

{% endblock %}