{% extends "base.html" %}
{% block title %}{{ session['name'] }}{% endblock %}
{% block head %}
{{ super() }}
    {% if session['is_admin'] == true %}
        <script src="{{ url_for('static', filename='js/admin.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <input type="hidden" id="web_api_token" value="{{ session['api_token'] }}">
    <input type="hidden" id="username" value="{{ session['name'] }}">
    <div class="container">
        <div id="apiKeyContainer">
            <h3>Your API Key is:</h3>
            <p id="apiKey"></p>
        </div>
        <form id="profileForm" action="/profile" method="POST">
            <div class="form-group">
                <label for="email">Update Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email...">
            </div>
            <input type="hidden" id="web_api_token" value="{{ session['api_token'] }}">
            <input type="hidden" id="username" value="{{ session['name'] }}">
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </form>
    </div>

{% endblock %}