{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

    <div class="container">
        <div id="registrationContainer">
        {% if first_time == true %}
            <h1>Register initial admin user:</h1>
        {% else %}
            <h1>Register new user:</h1>
        {% endif %}
        {% if first_time == true %}
            <form id="registrationForm" action="/first" method="POST">
        {% else %}
            <form id="registrationForm" action="/register" method="POST">
        {% endif %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" name="email" id="email">
                </div>
                <button class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}