form#registrationForm {
    width: 30rem;
    margin: 0 auto;
    padding-top: 2rem;
}

#registrationContainer h1 {
    text-align: center;
    padding-top: 1rem;
}

table#userListTable {
    margin: 0 auto 2rem auto;
    width: 75%;
    border: 1px solid lightgrey;
}

#tableContainer {
    padding-top: 1rem;
}

#tableContainer h1 {
    padding: 1rem 0;
    text-align: center;
}

div.updateRoleModalContent {
    padding: 1rem;
}

div#updateRoleModalButtons {
    margin-top: 1rem;
    text-align: right;
}

table#roleListTable {
    width: 100%;
}

form#profileForm {
    margin: 0 auto;
    width: 30rem;
}
